@import '~node_modules/modern-normalize/modern-normalize.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

