/* Стили для обнуления отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    height: 100%;
    width: 100%;
}

/* Свойства для обнуления базовых свойств у ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Свойства для обнуления базовых свойств у списков (ul) */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

