:root {

    // text color
    --black-color: #000000;
    --white-color: #FFFFFF;
    --red-color: #FF001B;
    --grey-text-color: #8C8C8C;
    --main-text-second-color: #545454;
    --orange-color: #FF6B08;

    // background color
    --bg-grey-color: #F7F7F7;
    --bg-orange-color: #FF6B01;

    // icon color

    // transition
    --anim-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // card-set
    --item: 3;
    --indent: 32px;
}