<div class="pagination container">
  <button class="pagination__btn arrow-left" data-index="left">
    <svg class="pagination__icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-arrow-left" ></use>
    </svg>
  </button>
  <button class="pagination__btn first-button" data-index="first">1</button>
  <span class="dots dots-left">...</span>
  <button class="pagination__btn pagination__btn-current" data-index="1">
    1
  </button>
  <button class="pagination__btn" data-index="2">2</button>
  <button class="pagination__btn" data-index="3">3</button>
  <button class="pagination__btn" data-index="4">4</button>
  <button class="pagination__btn" data-index="5">5</button>
  <span class="dots dots-after">...</span>
  <button class="pagination__btn last-button" data-index="last">100</button>
  <button class="pagination__btn arrow-right" data-index="right">
    <svg class="pagination__icon" width="20" height="20">
      <use href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>