<div class="pagination">
    <button class="pagination__btn arrow-left" type="button"><=</button>
    <button class="pagination__btn first-btn" type="button" hidden>1</button>
    <span class="dots previous" hidden>...</span>
    <button class="pagination__btn pagination__btn-current" type="button" data-index="1">1</button>
    <button class="pagination__btn" type="button" data-index="2">2</button>
    <button class="pagination__btn" type="button" data-index="3">3</button>
    <button class="pagination__btn" type="button" data-index="4">4</button>
    <button class="pagination__btn" type="button" data-index="5">5</button>
    <span class="dots after" hidden>...</span>
    <button class="pagination__btn" type="button" hidden>100</button>
    <button class="pagination__btn arrow-right" type="button" >=></button>
  </div>