.navigation__item.sign-in {
  display: flex;
  flex-direction: column-reverse;
}

.navigation__item{
    position: relative;
      top: -70px;
      left: 0px;
}

.navigation__button.signOut {
  display: none;
  color: rgb(11, 212, 4);
  width: 60px;
  height: 20px;
}

.navigation__button.signIn {
  display: block;
}

.navigation__button {
  width: 60px;
  height: 20px;
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  border: 0;
  // text-transform: uppercase;
  color: red;
  background-color: inherit;

  &:hover {
    color: rgb(3, 3, 3);
    background-color: rgb(11, 212, 4);
    transition: color 300ms;
  }
}

// .navigation__button.current {
//   position: relative;
// }

// .navigation__button.current::after {
//   position: absolute;
//   top: 13px;
//   display: block;
//   content: '';
//   height: 3px;
//   width: 100%;
//   // background-color: #ff6b08;
//   margin-bottom: 20px;
// }

.user-img {
  height: 60px;
  width: 60px;
}

// .navigation__button {
//   width: 70px;
//   height: 70px;
// }