#up-btn {
  position: fixed;

    @media screen and (max-width: 405px) {
        top: 98%;
      }
  top: 65%;
  // right: 20px;
  // color: #545454;
  background-color: transparent;
  opacity: 1;
  // transition: all .4s;
  border-width: 0px;
  // border-radius: 50%;
  // text-decoration: none;
  // width: 40px;
  // height: 40px;
  display: none;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  // transition: transform .2s;
  padding: 0px;
  cursor: pointer;

}

// #up-btn:hover {
//     transform: scale(1.5);
//       background-color: #7c0808;  

// }

// .up-btn-images {
//   height: 100%;
//   width: 100%;
// }

.arrow-down {
  margin: 30px;
}

.arrow-down span {
  display: block;
  width: 20px;
  height: 20px;
  // border-bottom: 5px solid #337AB7;
  border-left: 5px solid #f1bb27;
  border-top: 5px solid #337AB7;
  transform: rotate(45deg);
  margin: -26px;
  animation: arrow-down 3s infinite;
}

.arrow-down span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-down span:nth-child(3) {
  animation-delay: -0.5s;
}

@keyframes arrow-down {

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

