.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  transition: all 0.3s;
  @media screen and (min-width: 320px) {
    padding: 15px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.modal-window {
  width: 100%;
  max-width: 280px;
  position: relative;
  top: 50%;
  left: 50%;

  @media screen and (min-width: 320px) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 768px) {
    max-width: 704px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 806px;
  }
}

.close-btn__icon {
  stroke: var(--black-color);

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: var(--anim-standart);
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 16px;
  z-index: 10;
  background-color: transparent;
  border: transparent;

  &:hover,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

.modal {
  width: 100%;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 704px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 806px;
  }

  &__container {
    position: relative;
    padding: 48px 20px 40px 20px;

    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    @media screen and (min-width: 768px) {
      padding: 48px 72px 40px 36px;
      gap: 68px;
      display: flex;
    }

    @media screen and (min-width: 1280px) {
      padding: 40px 12px;
      gap: 16px;
    }
  }

  &__icon {
    fill: #000000;
  }
}

.poster {
  width: 240px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;

  @media screen and (min-width: 768px) {
    width: 265px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
  }
}

.modal-title {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 240px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.content-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.container-text {
  display: flex;
}

.content-text {
  flex: 1;
  color: var(--grey-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
}

.content-values {
  flex: 1;
  color: var(--black-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.movie {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 260px;

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--black-color);
  }

  &__text {
    max-height: 240px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: var(--black-color);
  }
}

.vote-item {
  width: 36px;
  height: 16px;
  font-weight: 500;
  padding: 2px 10px;
  color: var(--white-color);
  background-color: var(--bg-orange-color);
  border-radius: 5px;
}

.slash {
  color: var(--grey-color);
  margin-right: 4px;
  margin-left: 4px;
}

.vote-count {
  width: 36px;
  height: 16px;
  font-weight: 500;
  padding: 2px 7px;
  color: var(--black-color);
  background-color: #f7f7f7;
  border-radius: 5px;
}

.btn-wrap {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1280px) {
    justify-content: space-around;
  }
}

.button-watched {
  width: 70px;
  height: 40px;
  color: var(--white-color);
  background-color: var(--bg-orange-color);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  @media screen and (min-width: 768px) {
    width: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 110px;
    height: 44px;
  }

  &:hover,
  &:focus {
    outline: transparent;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      transform: scale(1.05);
      transition: var(--anim-standart);
    }
  }
}

.button-queue {
  cursor: pointer;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  width: 70px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--black-color);
  background-color: var(--white-color);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    width: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 110px;
    height: 44px;
  }

  &:hover,
  &:focus {
    outline: transparent;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      transform: scale(1.05);
      transition: var(--anim-standart);
    }
  }
}

.button-trailer {
  cursor: pointer;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  width: 70px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--black-color);
  background-color: var(--white-color);
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: transparent;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
      transform: scale(1.05);
      transition: var(--anim-standart);
    }
  }

  @media screen and (min-width: 768px) {
    width: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 110px;
    height: 44px;
  }
}
.trailer-tag {
  @media screen and (min-width: 320px) {
    max-width: 110px;
  }

  @media screen and (min-width: 768px) {
    max-width: 265px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 375px;
  }

  width: 640px;
  height: 360px;
}