.header {
    width: 100vw;
    z-index: 11;
    top: 0;
    height: 216px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // transition: transform var(--anim-standart);

    background-image: url('/src/images/header_1 page/header_1x_320px(home).jpg');

    // Для ретіна екранів(мобільний)

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('/src/images/header_1 page/header_2x_320px(home).jpg');
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('/src/images/header_1 page/header_3x_320px(home).jpg');
    }


    @media screen and (min-width: $tablet) {

        background-image: url('/src/images/header_1 page/header_1x_768px(home).jpg');

        // Для ретіна екранів(планшет)

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('/src/images/header_1 page/header_2x_768px(home).jpg');
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('/src/images/header_1 page/header_3x_768px(home).jpg');
        }
    }

    @media screen and (min-width: $desktop) {

        background-image: url('/src/images/header_1 page/header_1x_1280px(home).jpg');


        // Для ретіна екранів(десктоп)

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('/src/images/header_1 page/header_2x_1280px(home).jpg');
        }

        @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('/src/images/header_1 page/header_3x_1280px(watched).jpg');
        }
    }
}

.home {
    padding-top: 40px;
    padding-bottom: 92px;

    @media screen and (min-width: $tablet) {

        padding-top: 40px;
        padding-bottom: 80px;
    }

}

.main-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;

    // @media screen and (min-width: $tablet) {
    //     margin-bottom: 40px;
    // }
}

.logo-animate {
    content: "translateX(50px)";

    &:hover {
        animation: animateX50 1500ms;
    }
}

@keyframes animateX50 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

.logo-span {
    font-size: 30px;
    line-height: 1.16;

    margin-left: 8px;

    color: var(--white-color);

    @media screen and (max-width: 767px) {
        display: none;
    }

}


.current {
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        bottom: -3px;

        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--red-color);
    }


}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.6;
}

.nav-item {

    transition: transform var(--anim-standart);

    &:hover,
    &:focus {
        transform: scale(1.3);

    }
}

.nav-link {
    color: var(--white-color);
    transition: color var(--anim-standart);


    &:hover,
    &:focus {
        color: var(--red-color);

    }
}

.form {
    display: flex;
    justify-content: center;

    position: relative;
    margin: 0 auto;
    max-width: 280px;

    transition: transform var(--anim-standart);

    @media screen and (min-width: $tablet) {
        max-width: 336px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 394px;
    }



}



.input-home {
    position: relative;
    height: 20px;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    border-bottom: 0.5px solid var(--white-color);
    background-color: transparent;

    cursor: text;

    font-weight: 400;
    font-size: 14px;

    color: var(--white-color);

    &::placeholder {
        color: var(--white-color);
    }

    &:hover,
    &:focus {
        border-color: var(--red-color);
        transition: border-color var(--anim-standart);

    }


}

.form-button {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    border: none;
    stroke: var(--white-color);
    background-color: transparent;
    transform: scale(1);

    &:hover,
    &:focus {
        transform: scale(1.5) rotate(360deg);
    }

    transition: stroke var(--anim-standart);
    transition: transform var(--anim-standart);
}


.icon-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.message-error {
    position: absolute;
    top: 40px;
    left: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: var(--red-color);
}