.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    &:not(:last-child) {
        margin-right: 40px;
    }

}

.form {
    display: flex;
    justify-content: center;
}