.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px
}


.form {
    display: flex;
    justify-content: center;
}