.about {
  padding-top: 20px;
  min-height: calc(100vh - 80px);

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
/* Cards start */
.card {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set {
  flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}
/* Cards end */

.gallery {
  --indent: 20px;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    --indent: 32px;
  }
  @media screen and (min-width: $desktop) {
    --indent: 16px;
  }
}
.gallery__item {
  border-radius: 5px;
  overflow: hidden;
  --item: 1;
  transition: box-shadow var(--anim-standart), transform var(--anim-standart);

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    --item: 2;
  }
  @media screen and (min-width: $desktop) {
    --item: 3;

    // margin-bottom: 16px;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.05);
  }
  &:nth-of-type(-n + 18) {
    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }
  }
}
.gallery__img {
  object-fit: cover;
}
.img-wrap {
  height: 402px;
  @media screen and (min-width: $tablet) {
    height: 455px;
  }
  @media screen and (min-width: $desktop) {
    height: 574px;
  }
}

.gallary-wrapper {
  margin-top: 10px;

  @media screen and (min-width: $tablet) {
    margin-top: 8px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 12px;
    padding-bottom: 5px;
  }
}
.gallery__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--black-color);
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.gallery__ganres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--orange-color);
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.gallery__wrap {
  display: flex;
  align-items: baseline;
  @media screen and (min-width: $desktop) {
    align-items: center;
  }
}
.gallery__rating {
  margin-left: 10px;
  padding: 3px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  background-color: var(--bg-orange-color);
  color: var(--white-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
